@model ArticlePageViewModel

@{
    ViewData["Title"] = Model.Category == null ? "All articles" : $"{Model.Category} articles";
}

<h2>@ViewData["Title"]</h2>

<div class="container d-flex">
    @if (Model.Category != null)
    {
        @if (Model.Category == "football")
        {
            <div class="col-md-4">
                <partial name="_FootballStandingsPartial" />
            </div>
        }
        else if (Model.Category == "tennis")
        {
            <div class="col-md-4">
                <partial name="_TennisRankingsPartial" />
            </div>
        }
    }


    <div class="container">
        <div class="row">

            @foreach (var article in Model.Articles)
            {
                <partial name="_ArticlePartial" for="@article" />



            }
        </div>
    </div>
</div>
