@{ 
    ViewData["Title"] = "Become an author";
}
<h3 class="mb-3">Please read our privacy policy before confirming:</h3>
<div class="border border-dark mb-3" style="overflow-y:scroll">
    <p class="mb-2">Lorem ipsum dolor sit amet, eum et facete ornatus mediocrem. Nullam consulatu interpretaris an nam. Per at elit doctus periculis, ad facete efficiendi vim. Nec te magna cetero.</p>
    <p>Alienum explicari mei id, facer inermis interpretaris te nec, an munere sanctus detraxit eum. Ne interpretaris concludaturque his, sit no vivendo adolescens. Has adhuc aliquid atomorum no, dicit dolor moderatius id est. Nec ad agam apeirian interpretaris, et eum facete atomorum. Eu porro tibique tacimates per, stet corrumpit eum an. Id est feugait oportere ocurreret, ex vim habeo omnium pertinacia.</p>
</div>

<form method="post">

  <input class="btn btn-primary" type="submit" value="Submit">

</form>
